@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:where(.dark *));

@theme inline {
  --duration: 0.125s;
  /* --text-multiplier: 1.175;
  --text-xl: calc(var(--text-lg) * var(--text-multiplier));
  --text-lg: calc(var(--text-base) * var(--text-multiplier));
  --text-base: 1rem;
  --text-sm: calc(var(--text-base) / var(--text-multiplier));
  --text-xs: calc(var(--text-sm) / var(--text-multiplier)); */
  --text-sm: clamp(0.81rem, 0.03vi + 0.81rem, 0.83rem);
  --text-base: clamp(0.81rem, 0.34vi + 0.73rem, 1rem);
  --text-md: clamp(0.81rem, 0.72vi + 0.63rem, 1.21rem);
  --text-lg: clamp(0.81rem, 1.18vi + 0.52rem, 1.46rem);
  --text-xl: clamp(0.81rem, 1.74vi + 0.38rem, 1.77rem);
  --text-xxl: clamp(0.81rem, 2.42vi + 0.21rem, 2.14rem);
  --text-xxxl: clamp(0.81rem, 3.24vi + 0rem, 2.59rem);
  /* --spacing: calc(var(--text-base) / 4.1); */

  --font-sans: system-ui, -apple-system, 'Inter', sans-serif;
  --font-mono: 'Paper Mono', monospace;
  --font-display: 'Funnel Display', monospace;
  --animate-accordion-down: accordion-down 0.15s;
  --animate-accordion-up: accordion-up 0.15s;
  --animate-caret-blink: caret-blink 1s ease-out infinite;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-overlay: var(--overlay);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius: var(--radius);
  --radius-lg: calc(var(--radius) + 2px);
  --radius-xl: calc(var(--radius) + 4px);
  --shadow: 0 2.5px 3px 0 #00000015;
  --shadow-lg: 0 2.5px 6px 0 #00000020;
  --shadow-sm: 0 2.25px 3px 0 #00000012;
  /* --font-weight-medium: 550; */
  /* --font-weight-bold: 650; */
}

:root {
  --background: hsl(from var(--primary) h calc(s * 0.1) calc(l * 1.7));
  --foreground: hsl(from var(--primary) h calc(s * 0.15) calc(l * 0.362));
  --border: hsl(from var(--background) h s calc(l / 1.2));
  --card: hsl(from var(--background) h s calc(l * 1.4));
  --card-foreground: var(--foreground);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(from var(--primary) h calc(s * 0.2) calc(l * 0.362));
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(0 0% 92.1569%);
  --secondary-foreground: var(--foreground);
  --muted: hsl(from var(--background) h s calc(l / 1.04));
  /* --muted-foreground: hsl(0 0% 45%); */
  --muted-foreground: hsl(from var(--primary) h calc(s * 0.1) calc(l * 0.9));
  --accent: hsl(196, 66%, 68%);
  --accent-foreground: hsl(0 0% 8%);
  --danger: hsl(352.6829 50.014% 50.0392%);
  --danger-foreground: var(--foreground);
  --input: hsl(0 0% 80%);
  --ring: hsl(196, 66%, 68%);
}

:root {
  --overlay: hsl(0 0% 0% / 0.4);
  --radius: 0.25rem;

  --background: hsl(from var(--primary) h calc(s * 0) calc(l * 0.07));
  --foreground: hsl(from var(--primary) h calc(s * 0) calc(l * 1.7));
  --border: hsl(from var(--background) h calc(s * 0.5) calc(l * 2.8));
  --card: hsl(from var(--background) h s calc(l * 1.75));
  --card-foreground: var(--foreground);
  --popover: hsl(0 0% 3.1373%);
  --popover-foreground: hsl(0 0% 63.5294%);
  --primary: hsl(157, 23%, 46%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(0 0% 23.1373%);
  --secondary-foreground: var(--foreground);
  --muted: hsl(from var(--background) h s calc(l * 3.5));
  --muted-foreground: hsl(from var(--foreground) h calc(s * 0) calc(l * 0.7));
  --accent-foreground: hsl(0 0% 100%);
  --danger: hsl(352.6829 50.014% 50.0392%);
  --danger-foreground: hsl(0 0% 100%);
  --input: hsl(0 0% 21.9608%);
}

@utility scrollbar-fancy {
  scrollbar-color: var(--color-border) #0000;
}

@utility scrollbar-gutter-stable {
  scrollbar-gutter: stable;
  overflow-y: auto;
}

@utility glow-* {
  box-shadow: 0 0 28px -3px oklch(from --value(--color-*) l c h / 0.3);
}

@utility text-trim {
  text-box: trim-both cap alphabetic;
}

@utility ease-snappy {
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@layer base {
  * {
    @apply border-border outline-ring/50 min-h-0 min-w-0;
    overscroll-behavior-y: none;
    /* text-box: trim-both cap alphabetic; */
    /* text-box-trim: b */
  }

  body {
    @apply bg-background text-foreground font-sans antialiased text-pretty min-h-screen underline-offset-2;
    font-optical-sizing: auto !important;
    letter-spacing: 0.01em;
    font-weight: 450;
  }

  *::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background: var(--color-border);
  }

  *::-webkit-scrollbar-thumb:hover {
    background: var(--color-muted-foreground);
  }

  html {
    @apply scrollbar-fancy;
    -webkit-tap-highlight-color: transparent;
  }

  body[style*='padding-right'] {
    padding-right: 0 !important;
  }

  .v-enter-active,
  .v-leave-active {
    @apply animate-in fade-in-0 duration-100;
  }

  .v-enter-from,
  .v-leave-to {
    @apply animate-out fade-out-0 duration-100;
  }

  .zoom-enter-active,
  .zoom-leave-active {
    @apply animate-in fade-in-0 duration-100 zoom-in-95;
  }

  .zoom-enter-from,
  .zoom-leave-to {
    @apply animate-out fade-out-0 duration-100 zoom-out-95;
  }

  @keyframes slideDown {
    from {
      height: 0;
    }
    to {
      height: var(--reka-collapsible-content-height);
    }
  }

  @keyframes slideUp {
    from {
      height: var(--reka-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility animate-slide-down {
  @apply ease-snappy;
  animation-name: slideDown;
  animation-duration: var(--duration);
}
@utility animate-slide-up {
  @apply ease-snappy;
  animation-name: slideUp;
  animation-duration: var(--duration);
}
